@model MAGVA.Front.TransacoesFinanceiras.ViewModels.Consumidor
@{
    if (Model == null)
    {
        ViewData["Title"] = "Conta Pendente";
    }
    else
    {
        ViewData["Title"] = "Home";
    }
}

@if (Model != null)
{
    @Html.Raw($"{Model.Nome} - {Model.Email}")
}
else
{
    <form asp-controller="Consumidor" asp-action="Editar" method="post">

        Nome:  <input asp-for="Email" /> <br />
        Email:  <input asp-for="Email" /> <br />
        <button type="submit">Registrar</button>

    </form>
}
